@font-face {
	font-family: "receipt";
	src: url("Merchant_Copy.ttf") format("truetype");
  }

  @font-face {
	font-family: "receipt_big";
	src: url("Merchant_Copy_Doublesize.ttf") format("truetype");
  }

  a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

.box_box{
    display: flex;
    justify-content: center;
}

.center_box{
    width: 60vw;
    height: 100vh;
    background-image: url(wrinkle_paper.jpeg);
}

.title{
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    margin-bottom: 2vh;

    font-size: 4em;
    font-family: receipt_big;
}

.name{
    display: flex;
    justify-content: center;
    margin-bottom: 5vh;

    font-size: 1.5em;
    font-weight: bolder;
    font-family: receipt_big;
}

.weekly{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-left: 5vw;
    
    font-family: receipt;
}

.weekly_text{
    font-size: 4em;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.weekly_text:hover{
    font-size: 4.5em;
    font-weight: bold;
    margin-top: 1vh;
    margin-bottom: 1vh;
}
