@font-face {
    font-family: "starry_night";
    src: url(assets/title_font/starrynight.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    background-color: #203354;
}

h1 {
    font-family: 'starry_night';
    color: #FFFFF0;
}

.title {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 40px;
    left: 0px;
    width: 100vw;
}

.nav {
    height: 50px;
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0.1;
    left: 0;

}

.nav>.nav-links {
    text-align: left;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/arimo/v24/P5sMzZCDf9_T_10UxCFuj5-v6dg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
    display: inline;
    float: right;
    font-size: 16px;
}

.nav>.nav-links>a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: white;
    /* work/p5js/about color */
}

.nav>.nav-links>a:hover {
    text-decoration: underline;
}

p {
    font-family: 'Arimo';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    font-size: 10px;
    src: url(https://fonts.gstatic.com/s/arimo/v24/P5sMzZCDf9_T_10UxCFuj5-v6dg.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

.image-container {
    display: flex;
    margin-left: 10vw;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 100px;

}

.image-row1 {}

.image-row2 {}

img {
    padding-top: 100px;
    width: 350px;
    height: 200px;
}

.response_title{
    text-align: center;
}

/*centers the night sky */
.creative_response{
    display: flex;
    justify-content: center;
}
 
.night_sky{
    width: 80vw;
    height: 60vh;
    background-color: black;
    border-radius: 8%;

}

/*basic star*/
.circle{
    background-color: rgb(184, 184, 237);
    border-radius: 50%;
    width: 2vw;
    height: 2vh;
}

.circle:hover{
    background-color: whitesmoke;
    border-radius: 50%;
    width: 4vw;
    height: 4vh;
}

/*allows the for the pop up text*/
.tooltip {
    text-align: center;
    color: rgb(184, 184, 237);
    width: auto;
    height: auto;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: auto;
    height: auto;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  } 

.not_circle{
    background-color: black;
    border-radius: 50%;
    width: 6vw;
    height: 6vh;
}

.row_1{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}  

.row_2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.row_3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}  

.row_4{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
 
