h1 {
    font-size: 550%;
    margin-top: 5%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 130%;
}

h3 {
    font-size: 150%;
}

body {
    margin: 2%;
}

.sidePhoto {
    display: block;

    margin-left: auto;
    margin-right: auto;

}

#land {
    font-size: 200%;
}